

 header {
   background-color: rgb(137, 216, 195);
 }


* {
    margin: 0;
  }
  
  header nav ul {
    list-style: none;
  }
  header nav ul li {
    display: inline-block;
    padding: 20px;
  }
  header nav ul li a {
    color: #eeeeee;
    text-decoration: none;
  }
  main  ol li a {
    color: rgb(234, 0, 255);
    text-decoration: none;
  }
  #home {
    color:yellow;
  }
 #aboutus {
color : yellow;
}  

#contactus {
color: yellow;
}
  main h2 {
    text-align: center;
    margin: 20px 0px 20px 0px;
  }
  main  ol {
    list-style: none;
  }
  
  
  .coverd{

    clear: both;
    padding: 20px 0 40px 60px;
    margin: 50;
    color: rgb(0, 0, 0);

  }
  .paraghraph {
    clear: both;
    border: solid 1px rgb(0, 0, 0);
    padding: 20px 0 40px 60px;
    margin: 5px;
    color: rgb(234, 0, 255);
  }
  footer {
    background-color: rgb(137, 216, 195);
    padding: 20px ;
  }
 